
__pycache__/

.idea/

tmp_multi/

api_key.txt

log_1B_2A

outputs/

outputs_1A_1B/

outputs_1A_2A/

outputs_1A_1C/
llm_c_output
results
results.zip
code.zip
test_output
llm_u_output
llm_f_output
quick_test
test_results
